#Traitement des données

In [1]:
from shared.infrastructure.blob_client import blobServiceClient
import pandas as pd
import glob
import io

In [2]:
blobclient = blobServiceClient("stncaprojectdvp")

In [34]:
#file  = blobclient.download_blob_to_file("landing","exchange_rate/*.json")
#file = blobclient.list_blobs_V1("landing","exchange_rate/test3.json")
file = blobclient.read_blob("landing","country/country_20250421170632.json")
data_stream = io.BytesIO(file.readall())

In [8]:
data_stream

In [35]:
df = pd.read_json(data_stream, lines=True)
df.head()

,af,sd,bi,mx,cu,rs,mc,bt,gy,gs,...,fj,nl,am,do,gg,tm,np,mv,ly,br
0,"{'name': 'Afghanistan', 'official_name': 'Isla...","{'name': 'Sudan', 'official_name': 'Republic o...","{'name': 'Burundi', 'official_name': 'Republic...","{'name': 'Mexico', 'official_name': 'United Me...","{'name': 'Cuba', 'official_name': 'Republic of...","{'name': 'Serbia', 'official_name': 'Republic ...","{'name': 'Monaco', 'official_name': 'Principal...","{'name': 'Bhutan', 'official_name': 'Kingdom o...","{'name': 'Guyana', 'official_name': 'Co-operat...","{'name': 'South Georgia', 'official_name': 'So...",...,"{'name': 'Fiji', 'official_name': 'Republic of...","{'name': 'Netherlands', 'official_name': 'King...","{'name': 'Armenia', 'official_name': 'Republic...","{'name': 'Dominican Republic', 'official_name'...","{'name': 'Guernsey', 'official_name': 'Bailiwi...","{'name': 'Turkmenistan', 'official_name': 'Tur...","{'name': 'Nepal', 'official_name': 'Federal De...","{'name': 'Maldives', 'official_name': 'Republi...","{'name': 'Libya', 'official_name': 'State of L...","{'name': 'Brazil', 'official_name': 'Federativ..."

In [36]:
data = df.melt(var_name="country_id",value_name ="country_data" )
data.head()

  country_id                                       country_data
0         af  {'name': 'Afghanistan', 'official_name': 'Isla...
1         sd  {'name': 'Sudan', 'official_name': 'Republic o...
2         bi  {'name': 'Burundi', 'official_name': 'Republic...
3         mx  {'name': 'Mexico', 'official_name': 'United Me...
4         cu  {'name': 'Cuba', 'official_name': 'Republic of...

In [75]:
df2 = pd.json_normalize(data.country_data, max_level= 0)
df2.head()

,name,official_name,topLevelDomain,alpha2Code,alpha3Code,cioc,numericCode,callingCode,capital,altSpellings,...,area,gini,timezones,borders,nativeNames,currencies,languages,translations,flag,regionalBlocs
0,Afghanistan,Islamic Republic of Afghanistan,[.af],AF,AFG,AFG,004,+93,Kabul,"[AF, Afġānistān]",...,652230.0,Not Available,[UTC+04:30],"[IRN, PAK, TKM, UZB, TJK, CHN]",{'prs': {'official': 'جمهوری اسلامی افغانستان'...,"{'AFN': {'name': 'Afghan afghani', 'symbol': '...","{'prs': 'Dari', 'pus': 'Pashto', 'tuk': 'Turkm...","{'ara': 'أفغانستان', 'ces': 'Afghánistán', 'cy...","{'small': 'https://flagcdn.com/24x18/af.png', ...","[{'acronym': 'SAARC', 'name': 'South Asian Ass..."
1,Sudan,Republic of the Sudan,[.sd],SD,SDN,SUD,729,+249,Khartoum,"[SD, Republic of the Sudan, Jumhūrīyat as-Sūdān]",...,1886068.0,{'2014': 34.2},[UTC+03:00],"[CAF, TCD, EGY, ERI, ETH, LBY, SSD]","{'ara': {'official': 'جمهورية السودان', 'commo...",{'SDG': {'name': 'Sudanese pound'}},"{'ara': 'Arabic', 'eng': 'English'}","{'ara': 'السودان', 'ces': 'Súdán', 'cym': 'Sud...","{'small': 'https://flagcdn.com/24x18/sd.png', ...","[{'acronym': 'AU', 'name': 'African Union', 'o..."
2,Burundi,Republic of Burundi,[.bi],BI,BDI,BDI,108,+257,Gitega,"[BI, Republic of Burundi, Republika y'Uburundi...",...,27834.0,{'2013': 38.6},[UTC+02:00],"[COD, RWA, TZA]","{'fra': {'official': 'République du Burundi', ...","{'BIF': {'name': 'Burundian franc', 'symbol': ...","{'fra': 'French', 'run': 'Kirundi'}","{'ara': 'بوروندي', 'ces': 'Burundi', 'cym': 'B...","{'small': 'https://flagcdn.com/24x18/bi.png', ...","[{'acronym': 'AU', 'name': 'African Union', 'o..."
3,Mexico,United Mexican States,[.mx],MX,MEX,MEX,484,+52,Mexico City,"[MX, Mexicanos, United Mexican States, Estados...",...,1964375.0,{'2018': 45.4},"[UTC-08:00, UTC-07:00, UTC-06:00]","[BLZ, GTM, USA]",{'spa': {'official': 'Estados Unidos Mexicanos...,"{'MXN': {'name': 'Mexican peso', 'symbol': '$'}}",{'spa': 'Spanish'},"{'ara': 'المسكيك', 'ces': 'Mexiko', 'cym': 'Me...","{'small': 'https://flagcdn.com/24x18/mx.png', ...","[{'acronym': 'PA', 'name': 'Pacific Alliance',..."
4,Cuba,Republic of Cuba,[.cu],CU,CUB,CUB,192,+53,Havana,"[CU, Republic of Cuba, República de Cuba]",...,109884.0,Not Available,[UTC-05:00],N/A,"{'spa': {'official': 'República de Cuba', 'com...","{'CUC': {'name': 'Cuban convertible peso', 'sy...",{'spa': 'Spanish'},"{'ara': 'كوبا', 'ces': 'Kuba', 'cym': 'Ciwba',...","{'small': 'https://flagcdn.com/24x18/cu.png', ...",N/A

In [79]:
print(df2.columns.to_list())

['name', 'official_name', 'topLevelDomain', 'alpha2Code', 'alpha3Code', 'cioc', 'numericCode', 'callingCode', 'capital', 'altSpellings', 'region', 'subregion', 'population', 'latLng', 'demonyms', 'area', 'gini', 'timezones', 'borders', 'nativeNames', 'currencies', 'languages', 'translations', 'flag', 'regionalBlocs']

In [86]:
df_country_info = df2[["name","official_name","alpha2Code","alpha3Code","numericCode","callingCode","capital","region","subregion"]]
df_country_info.head()

,name,official_name,alpha2Code,alpha3Code,numericCode,callingCode,capital,region,subregion
0,Afghanistan,Islamic Republic of Afghanistan,AF,AFG,004,+93,Kabul,Asia,Southern Asia
1,Sudan,Republic of the Sudan,SD,SDN,729,+249,Khartoum,Africa,Northern Africa
2,Burundi,Republic of Burundi,BI,BDI,108,+257,Gitega,Africa,Eastern Africa
3,Mexico,United Mexican States,MX,MEX,484,+52,Mexico City,Americas,North America
4,Cuba,Republic of Cuba,CU,CUB,192,+53,Havana,Americas,Caribbean

In [100]:
df_country_currency_info = df2[["alpha2Code", "currencies"]]
df_country_currency_info.head()
df_c_norm = pd.json_normalize(df_country_currency_info.currencies, max_level= 0).melt().dropna()
df_c_norm.head()

     variable                                              value
0         AFN          {'name': 'Afghan afghani', 'symbol': '؋'}
251       SDG                         {'name': 'Sudanese pound'}
502       BIF        {'name': 'Burundian franc', 'symbol': 'Fr'}
753       MXN            {'name': 'Mexican peso', 'symbol': '$'}
1004      CUC  {'name': 'Cuban convertible peso', 'symbol': '$'}

In [84]:
df_country_language_info = df2[["alpha2Code","languages"]]
df_country_language_info.head()

  alpha2Code                                          languages
0         AF  {'prs': 'Dari', 'pus': 'Pashto', 'tuk': 'Turkm...
1         SD                {'ara': 'Arabic', 'eng': 'English'}
2         BI                {'fra': 'French', 'run': 'Kirundi'}
3         MX                                 {'spa': 'Spanish'}
4         CU                                 {'spa': 'Spanish'}

In [21]:
lst_blob_name = []
for blob in file:
    lst_blob_name.append(blob.name)
print(lst_blob_name)

[]

In [ ]:
#Reading the JSON File 
file_list = glob.glob('../data/raw/data_commune*.json')
print(file_list)

data_frames = [pd.read_json(file) for file in file_list]
df = pd.concat(data_frames)
    
df.head()

In [ ]:
df = df.drop(columns=['geo_point_2d','geo_shape','year', 'arrdep_code', 'arrdep_name', 'ze2020_code','ze2020_name','bv2022_code','bv2022_name','epci_code','epci_name'
                 ,'ept_code','ept_name', 'com_area_code','ze2010_name','ze2010_code','com_cataeu2010_code','com_cataeu2010_name','com_uu2010_code','com_uu2010_status',
                 'com_au2010_code','com_cateaav2020_code','com_cateaav2020_name', 'com_uu2020_code','com_uu2020_status','com_aav2020_code','com_cv_code','com_in_ctu',
                 'com_siren_code','com_is_mountain_area'])
list_columns = df.columns
print(list_columns)
df.head()

In [ ]:
# Table region
df_region = df[['reg_code','reg_name']]
df_region['reg_code'] = df['reg_code'].apply(lambda x: x[0])
df_region['reg_name'] = df['reg_name'].apply(lambda x: x[0])
df_region = df_region.drop_duplicates().reset_index()
df_region = df_region[['reg_code','reg_name']]
df_region.head()

#df_region = df[['reg_code','reg_name']]
#df_region['reg_code'] = df_region['reg_code']
#df_region.drop_duplicates()
#

# Table departement
#df_departement = df[['dep_code','dep_name','reg_code']]
#df_departement.drop_duplicates()
#df_departement.to_parquet(path='data\\silver\\departement.parquet')

# Table villes
#df_villes = df[['dep_code','com_code','com_name_upper']]
#df_villes = df_departement.drop_duplicates()
#df_villes.to_parquet(path='data\\silver\\villes.parquet')

In [ ]:
df_region = df_region.rename(columns={"reg_code" : "REGION_CD","reg_name":"REGION_LB"})
df_region.head()

In [ ]:
# Transposée d'une colonne :
pd.melt(df_region)

In [ ]:
#Tri des colonnes par ordre croissant ou décroissant
df_region.sort_values(by="REGION_CD",ascending=False).reset_index().drop(columns=["index"]).head(10)

In [ ]:
#df_region[df_region["REGION_CD"] > "80"]  
#df_region[df_region["REGION_LB"].str.startswith("C")] 
df_region[(df_region["REGION_CD"] > "80") & (df_region["REGION_LB"].str.startswith("C"))]

In [ ]:
df_region.iloc[:, [1]].head(5)

In [ ]:
# Accéder à une valeur particulière
df_region.iat[0, 1]

In [ ]:
df_region["REGION_LB"].apply(lambda a : a.upper()).head(5)
# Function similaire : df_region["REGION_LB"].str.upper().head(5)

In [ ]:
df_region["REGION_CD"].values

In [ ]:
df_region[df_region["REGION_CD"].isin(["75"])]

In [ ]:
# Compter le nombre d'occurence par champs
df_region["REGION_LB"].value_counts().head(5)

In [ ]:
df_region['NEW_COLUMN'] = df_region["REGION_LB"].apply(lambda a : a[0]) 
df_region.head(5)

In [ ]:
# utilisation du groupe by sur le champs "NEW_COLUMN"
df2 = df_region.groupby("NEW_COLUMN")["REGION_CD"].count()
df2

In [ ]:
df_region[(df_region["REGION_CD"] > "80") & (df_region["REGION_LB"].str.startswith("C"))].groupby("NEW_COLUMN")["REGION_CD"].count()

In [ ]:
df_region.to_parquet(path='data\\silver\\region.parquet')